@{
    Layout = "_Layout";
}
<br/>
<br />
<h1 style="text-align: center">Banco de Dados</h1>
<br />

<h5>Seja bem vindo ao banco de dados da Farmácia 'Paguem Bem Menos'</h5>
<br />
<br />
<img src="https://network.grupoabril.com.br/wp-content/uploads/sites/4/2016/10/092-farmacia5.jpg?quality=100&strip=info" />
